@use "../../utils/variables/mixins" as m;
@use "../../utils/variables/colors" as c;

.loader {
  margin: 0 0 2em;
  height: 100vh;
  width: 20%;
  text-align: center;
  padding: 5em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  /*
    Set the color of the icon
  */
  & svg path,
  svg rect {
    fill: c.$blue;
  }
}
