@use "../../utils/variables/colors" as c;

.button {
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  &:hover {
    background-color: c.$white;
    color: c.$dark;
    border: 1px solid c.$second_grey;
  }
}

.contactButton {
  @extend .button;
  background-color: c.$dark;
  color: c.$white;
}

.sendButton {
  @extend .button;
  background-color: c.$green;
  color: c.$white;
  display: inline-block;
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.paginationButton {
  @extend .button;
  background-color: c.$green;
  display: flex;
  color: c.$white;
  &:hover {
    background-color: rgba(c.$green, 0.7);
  }
}

.invisibleButton {
  visibility: hidden;
}

.responsiveButton {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: c.$white;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.07);
  }
}
