@use "../../utils/variables/colors" as c;

.button {
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  &:hover {
    background-color: c.$white;
    color: c.$dark;
    border: 1px solid c.$second_grey;
  }
}

.contactButton {
  @extend .button;
  background-color: c.$dark;
  color: c.$white;
}

.sendButton {
  @extend .button;
  background-color: c.$green;
  color: c.$white;
  display: inline-block;
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.paginationButton {
  @extend .button;
  background-color: c.$green;
  display: flex;
  color: c.$white;
  &:hover {
    background-color: rgba(c.$green, 0.7);
  }
}

.invisibleButton {
  visibility: hidden;
}

.responsiveButton {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: c.$white;
    box-shadow: 0.5px 0.5px 2.4px rgba(0, 0, 0, 0.11),
      4px 4px 19px rgba(0, 0, 0, 0.22);
  }
  @media screen and (max-width: 430px) {
    white-space: nowrap;
  }
}

.graphicMobileButton {
  @media screen and (max-width: 768px) {
  color: c.$white;
  background-color: c.$orange;
  }
}

.uxuiMobileButton {
  @media screen and (max-width: 768px) {
  color: c.$white;
  background-color: c.$blue;
  }
}

.frontendMobileButton {
  @media screen and (max-width: 768px) {
  color: c.$white;
  background-color: c.$yellow;
  }
}

.projectLinks--figma {
  @extend .button;
  background-color: c.$orange;
  color: c.$white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: max-content;
  & img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  &:hover {
    background-color: rgba(c.$orange, $alpha: 0.8);
    color: c.$white;
  }
}

.projectLinks--github {
  @extend .button;
  background-color: c.$blue;
  color: c.$white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: max-content;
  & img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
  }
  &:hover {
    background-color: rgba(c.$blue, $alpha: 0.8);
    color: c.$white;
  }
}

.projectLinks--githubPages {
  @extend .button;
  background-color: c.$yellow;
  color: c.$white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  white-space: nowrap;
  width: max-content;
  & img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
  }
  &:hover {
    background-color: rgba(c.$yellow, $alpha: 0.8);
    color: c.$white;
  }
}
