@use "../../utils/variables/colors" as c;
@use "../../utils/variables/mixins" as m;

.pageCounterContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.pageCounter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotate180 {
    transform: rotate(180deg);
  }