.viewerOverlay {
    position: fixed
    ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .viewerImage {
    border-radius: 10px;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
  }

  .viewerButton--left {
    position: absolute;
    left: 40px;
    top: 50%;
  }
  .viewerButton--right {
    position: absolute;
    right: 40px;
      top: 50%;
  }
  .viewerButton--close {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .viewerGallery {
    column-count: 4;
    column-gap: 25px;
    box-sizing: border-box;
    break-inside: avoid;
  }